:root {
  --default: #219ebc;
  --default-prominent: #8ecae6;
  --control: #ffb703;
  --accent: #fb8500;
  --accent-dark: #023047;
  --base-font-size: 16px;
  --animation-duration: 0.5s;
}
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--default);
  color: var(--accent-dark);
}

:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}
dialog[open] {
  opacity: 1;
  transition: opacity 0.5s ease, overlay 0.5s ease allow-discrete,
    display 0.5s ease allow-discrete;
}
dialog {
  h1 {
    margin-block: 0;
    padding-block: 0;
    color: var(--accent-dark);
    font-size: 1.5rem;
  }
  label {
    display: block;
    font-size: 0.8rem;
    padding-block-start: 1.5ch;
  }
  input {
    display: block;
    width: 100%;
    margin-block: 2ch;
    padding: 0.5ch;

    &[type='checkbox'] {
      display: inline;
      vertical-align: middle;
      width: auto;
      position: relative;
      margin-block: 0;
      top: -2px;
      margin-right: 1ch;
    }
  }
  button {
    border: 0;
    display: block;
    width: 100%;
  }
}

button {
  --hover-transition-duration: 0.2s;
  border: 1px solid var(--accent);
  background-color: var(--control);
  transition: background-color var(--hover-transition-duration) 0.1s ease;
  color: black;
  padding-inline: 2ch;
  padding-block: 1ch;
  border-radius: 1ch;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    transition: width var(--hover-transition-duration) ease,
      transform var(--hover-transition-duration) ease,
      border-radius var(--hover-transition-duration) ease,
      inset-inline-start var(--hover-transition-duration) ease;
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 50%;
    inset-block-end: 0;
    border-radius: 2ch;
    width: 0;
    background-color: var(--accent);
    z-index: -1;
  }
  &:hover {
    background-color: var(--accent);
    &::before {
      inset-inline-end: 0;
      inset-inline-start: 0;
      border-radius: 1ch;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  height: auto;
  padding-block: 0.5ch;
}

kbd {
  border: 1px solid var(--accent-dark);
  background-color: var(--default);
  display: inline-block;
  padding: 0.2ch;
  border-radius: 2px;
  margin-block: 5px;
}
