:root {
  color-scheme: light dark;
  --site-primary-color-1: #f1f7ed;
  --site-primary-color-2: color(display-p3 0.22 0.22 0.2);

  --site-secondary-color-1: color(display-p3 1 0.52 0);
  --site-secondary-color-2: color(display-p3 0.22 0.22 0.2);

  --base-font-size: 16px;

  --transition-duration: 0.2s;
  --transition-duration-short: 0.1s
  --transition-duration-long: 0.5s;

  --shadow-color: var(--site-primary-color-2);
}
* {
  box-sizing: border-box;
  line-height: 1.3;
  &:focus {
    z-index: 1000;
    outline: 2px dashed transparent;
    transition: outline;
    transition-duration: var(--transition-duration-short);
    outline-offset: 2px;
  }
}

html {
  min-height: 100dvh;
  background: var(--site-primary-color-1);
  color: var(--site-primary-color-2);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  background-color: var(
    --site-secondary-color-1
  ); /* be nice to firefox users */
  background-color: color(
    from var(--site-secondary-color-1) display-p3 r g b / 0.5
  );
  box-shadow: 0.2ch 0.2ch var(--shadow-color);
  padding-inline: 1ch;
  padding-block: 0.3ch;
  margin-inline: -1ch;
  margin-block-start: 2ch;
  margin-block-end: 2ch;

  &:first-child {
    margin-block-start: 0;
  }
}
p {
  margin-block-end: 2.2ch;
  &:last-child {
    margin-block-end: 0.5ch;
  }
}
:focus {
  outline: 2px dashed var(--site-primary-color-2);
}
dialog[open] {
  opacity: 1;
  color: var(--site-primary-color-2);
}
dialog {
  background-color: var(--site-primary-color-1);
  border: 2px solid var(--site-primary-color-2);
  opacity: 0;
  transition: opacity ease, overlay ease allow-discrete,
    display ease allow-discrete;
  transition-duration: var(--transition-duration-long);
  max-width: calc(100dvw - 2ch);

  &[class*='dropdown'] > div {
    max-width: min(calc(100dvw - 2ch), 350px);
    border: 2px solid var(--site-primary-color-2) !important;
    background-color: var(--site-primary-color-1);
  }
  .dropdown-arrow {
    polygon {
      fill: var(--site-primary-color-2);
    }
  }
  &[open]::backdrop {
    background-color: var(--site-primary-color-2);
    opacity: 0.8;
    backdrop-filter: blur(30px);
  }
  h1 {
    margin-block: 0;
    padding-block: 0;
    font-size: 1.5rem;
  }
  label {
    display: block;
    font-size: 0.8rem;
    padding-block-start: 1.5ch;
  }
  input {
    display: block;
    width: 100%;
    margin-block: 2ch;
    padding: 0.5ch;

    &[type='checkbox'] {
      display: inline;
      vertical-align: middle;
      width: auto;
      position: relative;
      margin-block: 0;
      top: -2px;
      margin-right: 1ch;
    }
  }
  button {
    display: block;
    width: 100%;
  }
}
@starting-style {
  dialog {
    opacity: 1;
  }
  dialog[open] {
    opacity: 0;
  }
}
a {
  color: var(--site-primary-color-2);
  text-align: start;
  user-select: none;
  border: 2px solid transparent;
  background-color: transparent;
  transition: background-color;
  transition-duration: var(--transition-duration-short);

  &:hover:not(.isActive) {
    text-decoration: none;
    border: 2px solid transparent;
    animation: link-hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
}
header:not(dialog header) {
  inset-block-start: 0;
  border-bottom: 0.2rem solid;
  h1 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    text-wrap: balance;
    padding-inline: 1rem;
  }
}
footer:not(dialog header),
header:not(dialog header) {
  position: sticky;
  display: grid;
  border-color: var(--site-primary-color-2);
  grid-template-columns: subgrid;
  grid-column-start: start;
  grid-column-end: 4;
  margin-block-start: 0;
  color: var(--site-secondary-color-2);
  -webkit-backdrop-filter: blur(10px); /** be nice to safari users **/
  backdrop-filter: blur(10px);
  background-color: color(
    from var(--site-secondary-color-1) display-p3 r g b / 0.6
  );
}
footer:not(dialog header) {
  z-index: 1000;
  bottom: 0;
  border-top: 0.2rem solid;

  section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding-block-end: .3ch;

    p {
      margin-block: 0;
    }
  }
  nav {
    display: flex;
    align-items: center;

  }
}
button {
  background-color: var(--site-secondary-color-1);
  background-color: color(
    from var(--site-secondary-color-1) display-p3 r g b / 0.6
  );
  box-shadow: 0.3ch 0.3ch var(--shadow-color);
  transition: box-shadow;
  transition-duration: var(--transition-duration);
  color: var(--site-primary-color-2);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid transparent;
  padding-inline: 2ch;
  padding-block: 1ch;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--site-secondary-color-1);
    background-color: color(
      from var(--site-secondary-color-1) display-p3 r g b / 0.8
    );
    box-shadow: 0.6ch 0.6ch var(--shadow-color);
  }
  &:focus {
    box-shadow: 0 0 var(--shadow-color);
  }
}

ul {
  list-style: none;
  padding: 0;
  height: auto;
  padding-block: 0.5ch;
}

ol {
  li {
    line-height: 1.5;
  }
}

kbd {
  border: 1px solid var(--site-primary-color-2);
  background-color: var(--site-primary-color-1);
  display: inline-block;
  padding: 0.2ch;
  border-radius: 2px;
  margin-block: 5px;
}

/* Override calendar styles */
.rdp-button {
  box-shadow: none !important;
}
.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--site-secondary-color-1) !important;
}

@keyframes link-hover {
  0% {
    border-image: linear-gradient(
        45deg,
        var(--shadow-color),
        transparent,
        transparent,
        transparent,
        transparent,
        var(--shadow-color)
      )
      1;
  }
  24% {
    border-image: linear-gradient(
        45deg,
        var(--shadow-color),
        transparent,
        transparent,
        transparent,
        var(--shadow-color)
      )
      1;
  }
  50% {
    border-image: linear-gradient(
        45deg,
        var(--shadow-color),
        transparent,
        transparent,
        var(--shadow-color)
      )
      1;
  }
  75% {
    border-image: linear-gradient(
        45deg,
        var(--shadow-color),
        transparent,
        var(--shadow-color)
      )
      1;
  }
  100% {
    border-image: linear-gradient(
        45deg,
        var(--shadow-color),
        var(--shadow-color)
      )
      1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-primary-color-2: #f1f7ed;
    --site-primary-color-1: color(display-p3 0.11 0.11 0.1);
    --site-secondary-color-1: color(display-p3 0 0 0);
    --site-secondary-color-2: color(display-p3 1 0.52 0);
    --shadow-color: var(--site-secondary-color-2);
  }
  h2 {
    color: var(--shadow-color);
  }
  dialog {
    border-color: var(--shadow-color);
    &[open]::backdrop {
      background-color: var(--site-secondary-color-1);
    }
    &[class*='dropdown'] > div {
      border: 2px solid var(--shadow-color) !important;
      background-color: var(--site-secondary-color-1);
    }
    .dropdown-arrow {
      polygon {
        fill: var(--site-secondary-color-2);
      }
    }
  }
  footer:not(dialog header),
  header:not(dialog header) {
    border-color: var(--site-secondary-color-2);
  }
  button {
    color: var(--site-secondary-color-2);
    border: 1px solid color(from var(--shadow-color) display-p3 r g b / 0.5);
  }
  .rdp-button:hover {
    background-color: var(--site-secondary-color-2) !important;
  }
  :focus {
    outline: 2px dashed var(--site-secondary-color-2);
  }
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  [data-testid="dropdown-trigger"] {
    display: block;
    width: 100%;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0;
    --transition-duration-short: 0;
    --transition-duration-long: 0;
  }
  a:not(.isActive):hover {
    animation-duration: 0s;
  }
}

.examples {
  margin-block-end: 2ch;
}