:root {
  --default: #219ebc;
  --default-prominent: #8ecae6;
  --control: #ffb703;
  --accent: #fb8500;
  --accent-dark: #023047;
  --base-font-size: 16px;
  --animation-duration: 0.5s;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100dvw;
  background: hotpink;
  font-size: var(--base-font-size);
  background-color: var(--default);
  display: grid;
  color: var(--accent-dark);
  grid-template-columns:
    [start] 1fr
    [content] minmax(300px, 600px)
    [right] 1fr;
}
.content {
  grid-column: content;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

:focus {
  outline: 1px solid white;
  outline-offset: 2px;
}
dialog[open] {
  opacity: 1;
  transition: opacity 0.5s ease, overlay 0.5s ease allow-discrete,
    display 0.5s ease allow-discrete;
}
.dialog {
  width: 350px;
  opacity: 0;
  transition: opacity 0.5s ease, overlay 0.5s ease allow-discrete,
    display 0.5s ease allow-discrete;
  background-color: var(--default-prominent);
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 1rem var(--accent-dark);

  h1 {
    margin-block: 0;
    padding-block: 0;
    color: var(--accent-dark);
    font-size: 1.5rem;
  }
  label {
    display: block;
    font-size: 0.8rem;
    padding-block-start: 1.5ch;
  }
  input {
    display: block;
    width: 100%;
    margin-block: 2ch;
    padding: 0.5ch;
  }
  button {
    border: 0;
    display: block;
    width: 100%;
  }
}
dialog[open]::backdrop {
  opacity: 0.8;
}
dialog::backdrop {
  transition: opacity 0.5s ease, overlay 0.5s ease allow-discrete,
    display 0.5s ease allow-discrete;
  background-image: linear-gradient(
    45deg,
    var(--default-prominent),
    var(--accent-dark)
  );
  opacity: 0;
}

.btn {
  --hover-transition-duration: 0.2s;
  border: 1px solid var(--accent);
  background-color: var(--control);
  transition: background-color var(--hover-transition-duration) 0.1s ease;
  color: black;
  padding-inline: 2ch;
  padding-block: 1ch;
  border-radius: 1ch;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    transition: width var(--hover-transition-duration) ease,
      transform var(--hover-transition-duration) ease,
      border-radius var(--hover-transition-duration) ease,
      inset-inline-start var(--hover-transition-duration) ease;
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 50%;
    inset-block-end: 0;
    border-radius: 2ch;
    width: 0;
    background-color: var(--accent);
    z-index: -1;
  }
  &:hover {
    background-color: var(--accent);
    &::before {
      inset-inline-end: 0;
      inset-inline-start: 0;
      border-radius: 1ch;
    }
  }
}

@starting-style {
  dialog {
    opacity: 1;
  }
  dialog[open] {
    opacity: 0;
  }
}
