.container {
  padding-block-start: 0;
  font-size: var(--base-font-size);
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: max-content 1fr [footer] max-content;
  grid-template-columns:
    [start] 1fr
    [content] minmax(300px, 600px)
    [right] 1fr;
}

.content {
  grid-column: content;
  display: flex;
  text-align: justify;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: 2ch;
  gap: 2ch;

  section:first-child p:first-child:first-letter {
    --size: 3;
    --offset: 3;
    initial-letter: var(--size) var(--offset); /* doesn't work in Safari */
    -webkit-initial-letter: var(--size) var(--offset); /* works in Safari */
    margin-inline-end: 0.5ch;
    font-weight: 800;
  }
}

.navigation {
  a {
    display: inline-block;
    padding: 0.5ch;
    margin-block: 0.2ch;
    &.isActive,
    &:active {
      outline: none;
      background-color: var(--site-primary-color-2);
      color: var(--site-primary-color-1);
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        background-color: var(--site-secondary-color-2);
      }
    }
  }
}

.separator {
  margin-inline: 0.5ch;
}
